<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="'About D2D'">
  <ion-content has-header="true" has-tabs="true">
  <content padding="true">
    <div class="about-content">
    	<h3>Built during Hacking Health Montreal 2014</h3>
      <div class="list">
      	<div class="item">
      		François Belleau<br>
      		<a  target="_blank" href="http://twitter.com/FrancoisBelleau">@FrancoisBelleau</a> |
      		<a  target="_blank" href="http://www.linkedin.com/profile/view?id=14919228">LinkedIn</a>
      	</div>
      </div>

        <div class="list">
      	<div class="item">
      		Patricia Demestre
      	</div>
      </div>

      <div class="list">
      	<div class="item">
      		Satya Ortiz-Gagné<br>
      		<a target="_blank" href="http://www.linkedin.com/profile/view?id=198082284">LinkedIn</a> |
      		<a target="_blank" href="http://www.twitter.com/satyaog">@satyaog</a>
      	</div>
      </div>

      <div class="list">
      	<div class="item">
      		Marek Zaluski<br>
      		<a  target="_blank" href="http://twitter.com/marekweb">@marekweb</a> |
      		<a  target="_blank" href="http://www.marekweb.com">website</a> |
      		<a  target="_blank" href="http://www.linkedin.com/profile/view?id=115253946">LinkedIn</a>
      	</div>
      </div>



    </div>
  </content>
  </ion-content>
</ion-view>
