<ion-view title="'Menu'">
  <ion-content has-header="true" has-tabs="true">
  <content padding="true">
  	<div class="padding">
  	<h1 style="text-align: center; margin: 30px 0">Select a Source</h1>

	 <a  class="button button-full button-energized" ng-href="#/tab/search/drugbank"><b>Drugs</b> (DrugBank)</a>
	 <a class="button button-full button-royal" ng-href="#/tab/search/doid"><b>Diseases</b> (DOID)</a>
	 <a  class="button button-full button-calm" ng-href="#/tab/search/cochrane"><b>Cochrane Reviews</b></a>

	 <div style="text-align: center">
		 <div class="item">
		 	<a  target="_blank" href="http://www.ontobee.org/browser/rdf.php?o=DOID&iri=http://purl.obolibrary.org/obo/DOID_2841">Disease Ontology from Ontobee</a>
		 </div>

		 <div class="item">
		 	<a  target="_blank" href="http://summaries.cochrane.org/CD006480/mono-and-multifaceted-allergen-reducing-interventions-for-the-primary-prevention-of-asthma-in-children-at-high-risk-of-developing-asthma">The Cochrane Collaboration</a>
		 </div>
		 <div class="item">
		 	<a  target="_blank" href="http://www.drugbank.ca/drugs/DB01001">DrugBank</a>
		 </div>
	</div>

	</div>
  </content>
  </ion-content>
</ion-view>
