<!--
-->
<ion-view title="'D2D'">
  <ion-content has-header="true" has-tabs="true" padding="true">
  <div class="splash">
  <div class="splash-a">
    <i class="ion-chevron-left"></i>D2D<i class="ion-chevron-right"></i>
    
</div>

  <div class="splash-b">
  	Drug to Disease<br>Reference Search
  </div>
  <br>
  <img style="width: 310px; height: auto"src="img/hh.png">
  <br><br>
  <img class="splash-logo" src="img/sw.jpg">
  <br><br>
  <img class="splash-logo" src="img/virtuoso.png">
  <br><br>
  <a  target="_blank" href="http://bio2rdf.org"><img class="splash-logo" style="" src="img/bio2rdf.png"></a>
</div>
  </ion-content>
</ion-view>
